body{
	font-family: "Times New Roman";
	padding: 1%;
}
h1{
	text-align:center;
	color:#F23000;
	font-family:normal;
}
nav{
	text-align:center;
	color:#FFFFFF;
}

header{
	background-image:url("webpic2.png");
	background-color:#ffff00;
width:100%;
height:30%px;
margin:1%;
padding:5%;
margin-top:.1%;
margin-left:.1%;
}
nav a{
	
	width:10%;
	height:1%;
	border:10%;
	padding:1% 1%;
	color:#FF0000;
	background-color:#FFFFFF;
	font-family:normal;
	text-decoration:none;
	font-weight:bold;
	border-radius:0%;
	
}
nav .active{
	background-color: rgba(255,255,255,1);
	color: rgb(0,0,255);
}

img{
	width: 100%;
	height:auto;
	border: solid #000000 10px;
}
aside{
	display: inline-block;
	background-color:#f02356;
	padding: 20px;
	display:flex;
	float: left;
	margin: 0px 1px 0px 1px;

}

	
	
}
.right{
	margin-left: 10px;
	display: inline-block;
	
	
}
main{
	display: flex;
}

}
nav.vis{
	width: 100%;

	
}
h2{
	text-align:center;
	background:orange;
}
p{
   text-align:center;
   background:gray;
}   

	
